/*
 Copyright 2011-2016 Joseba García Etxebarria

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
*/

@font-face {
    font-family: 'Droid Sans Mono';
    src: url('DroidSansMono.ttf');
}

body {
    font-family: 'Droid Sans', arial, verdana, serif;
    color: rgb(50, 50, 50);
    background: rgb(255, 255, 255) url('../img/logo.png') no-repeat fixed bottom right;
}

a {
    text-decoration: none;
    color: rgb(50, 50, 150);
}

a:visited {
    text-decoration: none;
    color: rgb(50, 50, 150);
}

a:hover {
    text-decoration: underline;
    color: rgb(150, 150, 250);
}

h1 {
    text-shadow: 2px 2px 2px #aaa;
    text-align: center;
}

tr.table_header {
    font-weight: bold;
    padding: 5px;
    min-width: 5em;
}

tr.grid:nth-child(even) {
    background-color: rgb(240, 240, 255);
}

#login_form {
    text-align: center;
    top: 20%;
    left: 40%;
    position: fixed;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    box-shadow: 2px 2px rgb(230, 230, 230);
    background: rgba(255, 255, 255, 0.8);
    padding: 1em;
}

#ChangeLog {
    border: 1px solid rgb(200, 200, 200);
    padding: 10px;
    white-space: pre-wrap;
    position: fixed;
    width: 80%;
    max-width: 60em;
    left: 10%;
    height: 70%;
    border-radius: 5px;
    box-shadow: 2px 2px rgb(230, 230, 230);
    background: rgba(255, 255, 255, 0.8);
    overflow: auto;
}

#upload_form {
    text-align: center;
    top: 20%;
    left: 25%;
    position: fixed;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    box-shadow: 2px 2px rgb(230, 230, 230);
    background: rgba(255, 255, 255, 0.8);
    padding: 1em;
    max-height: 70%;
    overflow: auto;
}

#upload_table {
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    box-shadow: 2px 2px rgb(230, 230, 230);
    background: rgba(255, 255, 255, 0.8);
    display: block;
    position: fixed;
    left: 55%;
    top: 20%;
    height: 60%;
    width: 35%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
}

#upload_table_bg_image {
    display: block;
    position: fixed;
    left: 60%;
    top: 25%;
    height: 40%;
}

#upload_table_files:nth-child(odd) {
    background-color: rgb(230, 230, 230);
}

#upload_table_files:nth-child(even) {
    background-color: rgb(230, 230, 250);
}

#file_previews {
    margin-bottom: 40px;
}

#analysis_file_form {
    text-align: center;
    top: 150px;
    left: 30%;
    position: absolute;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    box-shadow: 2px 2px rgb(230, 230, 230);
    background: rgba(255, 255, 255, 0.8);
    padding: 1em;
}

#useradd_form {
    border: 1px solid rgb(200, 200, 200);
    top: 20%;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 2px 2px rgb(230, 230, 230);
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    left: 35%;
    position: fixed;
}

#userlist {
    border: 1px solid rgb(200, 200, 200);
    top: 20%;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 2px 2px rgb(230, 230, 230);
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    left: 35%;
    position: fixed;
}

#caselist {
    border: 1px solid rgb(200, 200, 200);
    padding: 1em;
    border-radius: 5px;
    box-shadow: 2px 2px rgb(230, 230, 230);
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    top: 100px;
    left: 5%;
    right: 5%;
    position: absolute;
}

#centered_box {
    text-align: center;
    top: 20%;
    left: 35%;
    position: fixed;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    box-shadow: 2px 2px rgb(230, 230, 230);
    background: rgba(255, 255, 255, 0.8);
    padding: 1em;
    max-height: 70%;
    overflow: auto;
}

#loginname {
    font-size: smaller;
    display: inline;
    margin-right: 5px;
    color: rgb(100, 100, 100);
}

#background_box_fullscreen {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

#foreground_box {
    position: fixed;
    width: 20%;
    /*height: 4%;*/
    left: 40%;
    top: 48%;
    z-index: 2;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    box-shadow: 2px 2px rgb(230, 230, 230);
    background: rgba(255, 255, 255, 0.8);
    padding: 1em;
    text-align: center;
}

#footer {
    color: rgb(150, 150, 150);
    background-color: rgb(255, 255, 255);
    border-top: solid 1px rgb(200, 200, 200);
    font-size: x-small;
    display: block;
    width: 100%;
    position: fixed;
    margin: 0;
    padding-bottom: 2px;
    padding-top: 2px;
    bottom: 0;
    right: 0;
    text-align: center;
}

#logout_box {
    border-left: 1px solid rgb(200, 200, 200);
    border-bottom: 1px solid rgb(200, 200, 200);
    padding: 0 5px 5px;
    position: fixed;
    right: 0;
    top: 0;
    box-shadow: -2px 2px rgb(220, 220, 220);
    background-color: rgb(230, 230, 230);
}

#system_info {
    text-align: left;
    top: 20%;
    left: 50px;
    position: fixed;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    box-shadow: 2px 2px rgb(230, 230, 230);
    background: rgb(240, 240, 240);
    padding: 1em;
    min-width: 200px;
    overflow: auto;
}

#system_info_title {
    font-weight: bold;
    margin-bottom: 10px;
}

.error {
    color: rgb(220, 20, 20);
}

.fakelink {
    cursor: pointer;
}

.file_contents_div {
    font-size: 0.8em;
    font-family: 'Droid Sans Mono', monospace;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgb(200, 200, 200);
    max-height: 40em;
    overflow: auto;
}

input#authors {
    width: 20em;
    border: 1px solid rgb(200, 200, 200);
}

input[type="file"] {
    width: 22em;
    float: left;
}

input#shortdesc {
    width: 20em;
}


